.projects {
    padding-bottom: 150px;
}

.projects > h1 {
    font-family: font-tile;
    font-size: 64px;
    margin-bottom: 1rem;
    font-weight: lighter;
}

.projects > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 500px;
    gap: 100px;
    justify-content: center;
}

.projects > ul > li {
    display: grid;
    grid-template-rows: 5.5fr 4.5fr;

    box-shadow: 3px 3px 6px rgb(112, 109, 109);
}

.project-photo {
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 25px 15px;
}

.project-photo span {
    text-align: center;

    line-height: 100%;

    font-family: title-font;
    font-weight: lighter;
    font-size: 58px;
    color: white;
}

.project-details {
    padding: 10px 25px 15px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-header h2 {
    font-family: title-font;
    font-weight: lighter;
    font-size: 36px;
}

.project-header ul {
    display: flex;
    gap: 15px;
}

.project-details span {
    font-size: 20px;
    color: var(--content-text-color);
}

@media (max-width: 700px) {
    .projects > h1 {
        text-align: center;
    }
}